<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8" />
    <title>Sun Energy - Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_login.css') }}">
</head>

<body>
    <header>
        <nav>
          <a>
            <img class="logo" src="{{ url_for('static', filename='images/logo-2.png') }}" alt="" />
          </a>
        </nav>
    </header>
    <!-- <h1>Registro</h1> -->
    <div class="login-page">
        <div class="form">
            <form method="POST" action="/register" class="login-form">
                <!-- MODIFICAÇÃO BD value="{{request.form['']}}"-->
                <input type="text" name="nome" value="{{request.form['nome']}}" placeholder="Nome de usuário" required><br>
                <input type="text" name="sobrenome" value="{{request.form['sobrenome']}}" placeholder="Sobrenome" required><br>
                <input type="email" name="email" value="{{request.form['email']}}" placeholder="Email" required><br>
                <input type="password" name="senha" value="{{request.form['senha']}}" placeholder="Senha" required><br>
                <input type="submit" value="Registrar" class="button">
                <p class="message">Já tem uma conta? <a href="/login">Faça login</a></p>
            </form>
        </div>
    </div>
</body>

</html>
